
/* NOTE: General Body */

body {
	color: #54b4ff;
	text-align: center;
	font-family: 'Helvetica';
}


/* NOTE: Main Navigation */

ul {
    list-style-type: none;
		font-size: 15px;
		font-family: 'Helvetica';
    margin: 0;
    padding-left: 10px;
		padding-right: 10px;
    overflow: hidden;
    background-color: #54b4ff;
}

li {
		display: inline;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
		text-decoration: none;
    padding: 14px 16px;
		text-transform: uppercase;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #008fff;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
		font-size: 12px;
		background-color: #008fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #0078d6;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* NOTE: Home Page */

.main-title {
	color: #54b4ff;
	font-size: 60px;
	font-family: 'Fredoka One';
	margin-top: 50px;
	margin-bottom: 50px;
}

.main-header img {
	width: 250px;
	height: 150px;
}

.main-body {
	width: 600px;
	color: #54b4ff;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Open Sans';
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

.main-tagline {
	color: #54b4ff;
	font-size: 20px;
	font-family: 'Fredoka One';
	margin-top: 50px;
}

.sub-tagline {
	color: #54b4ff;
	font-size: 30px;
	font-family: 'Fredoka One';
	padding-bottom: 100px;
}


/* NOTE: Find Us */

.findus-body p {
	color: #54b4ff;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Open Sans';
	margin-top: 50px;
	margin-bottom: 20px;
}

.map-widget iframe
{
	background-color: #54b4ff;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 100px;
}


/* NOTE: Contact Form */

input[type=text], select, textarea {
    width: 90%;
		font-family: 'Open Sans';
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
		border: none;
    border-radius: 8px;
    resize: vertical;
}

input[type=submit] {
		color: white;
		font-family: 'Open Sans';
		font-size: 20px;
		text-transform: uppercase;
    background-color: #008fff;
    padding: 10px 20px;
		border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0078d6;
}

input[type=submit]:active {
	border-radius: 15px;
}

.contact-form {
		display: inline-block;
		text-align: center;
    border-radius: 20px;
    background-color: #54b4ff;
		width: 500px;
    padding: 15px;
		margin-bottom: 100px;
}


/* NOTE: What's on */
.whatson-widgets {
	width: auto;
	margin-bottom: 100px;
}


/* NOTE: Copyright Notice */

.main-footer {
	color: #9f9f9f;
	background-color: #fff;
	margin-bottom: 10px;
  bottom: 0;
  width: 100%;
	font-size: 12px;
}

}
